body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: white!important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:30px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.defaultButton {
    width: 100px;
    height: 50px;
}

.bottomMarginDefault {
    margin-bottom: 30px;
}

.bottomMarginSmall {
    margin-bottom: 15px;
}

.rightMarginDefault {
    margin-right: 30px;
}

.leftMarginDefault {
    margin-left: 30px;
}

.leftMarginSmaller {
    margin-left: 15px;
}

.thumbnailImage {
    max-width: 400px;
    width: 100%;
    height: auto;
}

img{
    max-width:100%;
}

.pull-left.col-md-4{
    min-height: 400px;
}

.pull-left.col-md-4 > div{
    width:320px;
    margin:auto;
}

.pull-left.col-md-4 > div:first-child{
    height: 240px;
    overflow: hidden;
}

.navbar-inverse .navbar-brand{
    color: #9d9d9d!important;
}

.navbar{
    min-height: 50px!important;
}

.navbar-nav > li > a{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.navbar-brand{
    padding:15px!important;
}

.navbar-fixed-top{
    height: 51px;
}

.navbar-inverse .navbar-nav>li>a{
    color: #9d9d9d!important;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: white!important;
}
