<div *ngIf="albumIndexViewModel" class="container">
    <div class="row">
        <div *ngFor="let image of albumIndexViewModel.images" class="pull-left col-md-3">
            <div class="bottomMarginDefault">
                <div>
                    <img class="thumbnailImage" src="{{albumIndexViewModel.photoUrl}}" [routerLink]="['/album-view', image.id]"/>
                </div>
                <div>
                    <div class="h4">{{image.title}}</div>
                    <div class="h5">{{image.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pagination" *ngIf="pagination.totalItems > 0">
    <div class="col-md-3 col-sm-12 page-num-info">
        <div class="inline">
            <select [ngModel]="pagination.limit" (ngModelChange)="getAlbumIndexViewModel($event)">
            <option [value]="p" *ngFor="let p of perPage">{{p}}</option>
            </select>
            per page
        </div>
    </div>
    <div class="col-md-6 col-sm-12 text-center pagination-container">
        <pagination 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.limit"
            [maxSize]="5" 
            [(ngModel)]="pagination.page"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="getAlbumIndexViewModel($event)" class="pagination-sm">
        </pagination>
    </div>
    <div class="col-md-3 col-sm-12 text-right">
        Total Records: {{pagination.totalItems}}
    </div>
</div>

<div class="no-message" *ngIf="pagination.totalItems == 0">There are No Album in your Gallery</div>

<ngx-loading-spinner> </ngx-loading-spinner>
