<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <root>
        <level value="Info" />
        <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
        <rootUrl value="https://logs-01.loggly.com/" />
        <inputKey value="c3176aed-1b75-4315-9ee6-21cf1bd84dd8" />
        <tag value="log4net" />
    </appender>
</log4net>