<div *ngIf="type; else home">
    <div *ngIf="galleryIndexViewModel" class="container">
        <div class="row">
            <div *ngFor="let image of galleryIndexViewModel.images" class="pull-left col-md-3">
                <div class="card gallery bottomMarginDefault">
                    <div class="imgBorder">
                        <img class="card-image-top imgBorder" src="{{galleryIndexViewModel.imagesUri + image.fileName}}" [routerLink]="['/gallery-view', image.id]"/>
                    </div>
                    <div class="card-body">
                        <div class="h4">{{image.title}}</div>
                        <div class="h5">{{image.category}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #home>
    <div *ngIf="galleryIndexViewModel" class="container">
        <div *ngFor="let image of galleryIndexViewModel.images" class="pull-left col-md-3">
            <div class="homeGallery bottomMarginDefault">
                <img class="thumbnailImage" src="{{galleryIndexViewModel.imagesUri + image.fileName}}" />
                <div class="h5">{{image.title}}</div>
                <div class="h5">{{image.category}}</div>
                <div class="h5">
                    <a [routerLink]="['/gallery-edit', image.id]">Edit</a> |
                    <a (click)="deleteImage(image.id)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="row pagination" *ngIf="pagination.totalItems > 0">
    <div class="col-md-3 col-sm-12 page-num-info">
        <div class="inline">
            <select [ngModel]="pagination.limit" (ngModelChange)="getGalleryIndexViewModel($event)">
            <option [value]="p" *ngFor="let p of perPage">{{p}}</option>
            </select>
            per page
        </div>
    </div>
    <div class="col-md-6 col-sm-12 text-center pagination-container">
        <pagination 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.limit"
            [maxSize]="5" 
            [(ngModel)]="pagination.page"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="getGalleryIndexViewModel($event)" class="pagination-sm">
        </pagination>
    </div>
    <div class="col-md-3 col-sm-12 text-right">
        Total Records: {{pagination.totalItems}}
    </div>
</div>

<div class="no-message" *ngIf="pagination.totalItems == 0">There are No Images in your Gallery</div>

<ngx-loading-spinner> </ngx-loading-spinner>
