<div *ngIf="galleryIndexViewModel" class="container">
    <div *ngFor="let image of galleryIndexViewModel.images; let i = index" class="pull-left col-md-4">
        <div class="image-wrapper">
            <img class="thumbnailImage" src="{{galleryIndexViewModel.imagesUri + image.fileName}}" />
        </div>
        <div>
            <div class="flex">
                <div class="h5">
                    {{image.title}}
                    <img *ngIf="image.dataSource === 'Flickr' && image.photoId" src="../../../../assets/img/flickr.png" />
                </div>
                <input type="checkbox" [checked]="albums[i]" (click)="saveAlbum(i)">
            </div>
            <div class="h5">{{image.category}}</div>
            <div class="bottomMarginDefault">
                <a [routerLink]="['/gallery-edit', image.id]">Edit</a> |
                <a (click)="deleteImage(image.id)">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="row pagination" *ngIf="pagination.totalItems > 0">
    <div class="col-md-3 col-sm-12 page-num-info">
        <div class="inline">
            <select [ngModel]="pagination.limit" (ngModelChange)="getGalleryIndexViewModel($event)">
            <option [value]="p" *ngFor="let p of perPage">{{p}}</option>
            </select>
            per page
        </div>
    </div>
    <div class="col-md-6 col-sm-12 text-center pagination-container">
        <pagination
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.limit"
            [maxSize]="5"
            [(ngModel)]="pagination.page"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="getGalleryIndexViewModel($event)" class="pagination-sm">
        </pagination>
    </div>
    <div class="col-md-3 col-sm-12 text-right">
        Total Records: {{pagination.totalItems}}
    </div>
</div>

<div class="no-message" *ngIf="pagination.totalItems == 0">There are No Images in your Gallery</div>

<ngx-loading-spinner> </ngx-loading-spinner>
