
.pagination {
    display: flex;
    align-items: center;
}

.no-message {
    display: inline-block;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: rgb(225, 225, 225);
    margin: 20px 0;
}

.card {
    border: 1px solid #aaa;
}

.d-flex {
    display: flex;
    align-items: center;
}

.flex-10 {
    flex: 10;
    max-width: 100%;
}

.mr-1 {
    margin-right: 5px;
}

.image-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 30px);
}

.flickr-img:hover {
    cursor: pointer;
}