docker/**/*
docker/

**/bin/**/*
**/bin

**/obj/**/*
**/obj

**/Views/**/*
**/Views

**/wwwroot/**/*
**/wwwroot



.dockerignore

**/*.cs
**/*.js
**/*.map

**/*.md

**/web.config
**/Jenkinsfile-base
**/Jenkinsfile
**/Dockerfile