docker/**/*
docker/

**/bin/**/*
**/bin

**/obj/**/*
**/obj

**/Views/**/*
**/Views





.dockerignore

**/*.cs
**/*.js
**/*.map

**/*.md

**/web.config
**/Jenkinsfile-base
**/Jenkinsfile
**/Dockerfile