**/docker/**/*
**/docker

**/bin/**/*
**/bin

**/obj/**/*
**/obj

**/Properties/**/*
**/Properties

**/Views/**/*
**/Views

**/wwwroot/**/*
**/wwwroot


.dockerignore

**/*.cs
**/*.js
**/*.map

*/*.js
*/*/*.js
*/*/*/*.js
*/*/*/*/*.js
*/*/*/*/*/*.js
*/*/*/*/*/*/*.js
*/*/*/*/*/*/*/*.js
*/*/*/*/*/*/*/*/*.js
*/*/*/*/*/*/*/*/*/*.js






**/*.md

**/appsettings*.json

**/web.config
**/Jenkinsfile-base
**/Jenkinsfile
**/Dockerfile